# Ignore everything by default
*

# But descend into directories so nested files can be matched
!*/

# Track Python files only
!*.py

# Keep this .gitignore itself
!.gitignore

# track the test csv
!round2_sample_50.csv
!round3_sample_50.csv